<nav class="navbar navbar-light bg-light navbar-right">
    <a class="navbar-brand" href="#">
        Task Manager
    </a>
    <form class="form-inline">
        <button class="btn btn-outline-success float-ri" type="button">Sign In</button>
    </form>

</nav>